{% extends 'polls/index.html' %}
{% load static %}
<script src="{% static 'polls/js/userinfo.js' %}"></script>
{% block patient_form %}


<form class="form-horizontal" action="http://localhost:8000/diagnose/diagnose/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class=".input-lg" type="submit" value="保存给此的病人诊断" />
</form>

<!--<script>-->
    <!--var nameDic = {-->
            <!--'wzy':'超级管理员',-->
            <!--'guahao':'挂号员',-->
            <!--'yaofang':'药房人员',-->
            <!--'yisheng':'医生',-->
            <!--'huajia':'划价员',-->
            <!--'guahao':'挂号员',-->
        <!--}-->
    <!--var name = nameDic['{{ name|safe }}'];-->
    <!--var element=document.getElementById("login");-->
    <!--element.innerHTML =  "<a href='http://localhost:8000/用户权限'><span >"+name+"</span></a>";-->
<!--</script>-->
{% endblock %}