{% extends 'polls/index.html' %}


{% block patient_form %}

<div class="row">
    <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul>
    {% for i in all_patient %}
    <li>

    <div class="panel panel-default">
        <div class="panel-heading">{{ i.patient_information }}</div>
        <div class="panel-body">{{ i.patient_history }}</div>
    </div>
    </li>
    {% endfor %}
    </ul>
      <center>
          <div class="btn-group">
  <button type="button" class="btn btn-primary btn-lg"  onclick='location.href="http://localhost:8000/polls/patient_log"'>录入</button>
  <button type="button" class="btn btn-primary btn-lg">编辑</button>
  <button type="button" class="btn btn-primary btn-lg">查询</button>
    </div>
      </center>

  </div>
  <div class="col-sm-3"></div>
</div>

{% endblock %}
